.contact-input {
    margin-left: 135px;
    border: 2px solid #681515;
    border-radius: 25px;
    background: transparent;
    padding: 15px 10px;
    width: 1275px;
    
}

.button {
    background: #681515;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    margin-left: 135px;
    margin-top: 20px;
    margin-bottom: 100px;
}
   

.button:hover {
    background: #ff0000;
    cursor: pointer;
}